<!DOCTYPE html>
<html lang = "pl" xmlns:th="http://www.thymeleaf.org">

    <th:head th:replace="/fragments/commFrag :: commHeader"></th:head>

    <body>

        <div class="container">

            <button type="button" class="btn btn-lg btn-secondary btn-block" disabled th:text="'NOWA WSPÓLNOTA'
            + ' ADMINISTRATOR WSPÓLNOTY : ' + ${iam.name} + ' ' + ${iam.surname}"></button>

            <table th:replace="/fragments/commFrag :: commUpMenu"> </table>
            <form th:replace="/fragments/commFrag :: commAddForm"> </form>


        </div>
    </body>
</html>