<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MARRIAGE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/my.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <button type="button" class="btn btn-lg btn-secondary btn-block" disabled th:text="'WSPÓLNOTA : ' + ${community.name}
    + ' ADMINISTRATOR WSPÓLNOTY : ' + ${iam.name} + ' ' + ${iam.surname}"></button>
    <table class="usermenutable">
        <tr>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-warning usermenu"  th:href="@{'/'}" th:text="'MENU GŁÓWNE'"></a>
                        </span>
            </td>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-success usermenu"  th:href="@{'/admin/'}" th:text="'STRONA ADMINISTRATORA'"></a>
                        </span>
            </td>
            <td class="usermenu30">
                        <span>
                            <a class="btn btn-success usermenu"  th:href="@{'/admin/communities/view/' + ${community.id}}"
                               th:text="'POWRÓT DO LISTY CZŁONKÓW'"></a>
                        </span>
            </td>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-info usermenu"  th:href="@{'/admin/communities/member/add/' + ${community.id}}" th:text="'DODAJ NOWEGO CZŁONKA (+)'"></a>
                        </span>
            </td>
            <td class="usermenu10">
                <span>
                    <form th:action="@{/logout}" method="post" >
                        <input class="btn btn-warning usermenu" type="submit" value="WYLOGUJ"/>
                    </form>
                </span>
            </td>
        </tr>
    </table>
    <table class="usermenutable">
        <tr>
            <td class="btn btn-primary disabled usermenu100" th:text="'Wybierasz małżonka dla' + ${member.name} + ' ' + ${member.surname}"></td>
        </tr>
    </table>
    <form th:action="@{/admin/communities/member/addMarriage}" th:object="${member}" method="post">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{communityId}" th:value="${community.id}"/>
                    <table class="usermenutable">
                        <tr>
                            <td class="usermenu30">
                                <div class="btn btn-primary full" style="text-align: center">MAŁŻONEK</div>
                            </td>
                            <td class="usermenu70">
                                <select th:field="*{married}" class="form-control btn btn-secondary">
                                    <option th:each="i : ${marriages}" th:value="${i.id}" th:text="${i.name} + ' ' + ${i.surname}"></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <table class="usermenutable">
                        <tr>
                            <td class="usermenu50"><span><input type="submit" class="btn btn-success full" value="ZAPISZ"/></span></td>
                            <td class="usermenu50"><span><a th:href="@{'/admin/communities/view/' + ${community.id}}" class="btn btn-info full">POWRÓT</a></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>