<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:head th:replace="/fragments/commFrag :: commHeader"></th:head>

<body>
    <div class="container">

        <button th:replace="/fragments/commFrag :: commDescrButt"></button>
        <table th:replace="/fragments/commFrag :: commUpMenu"> </table>

        <table class="usermenutable">
            <tr>
                <td class="btn btn-primary disabled usermenu40" th:text="'Czy na pewno chcesz usunąć członka wspólnoty : '"></td>
                <td class="btn btn-warning disabled usermenu60" th:text="${member.name} + ' ' + ${member.surname}"></td>
            </tr>
        </table>
        <form th:action="@{/admin/communities/member/delete}" th:object="${member}" method="post">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{communityId}" th:value="${community.id}"/>
                        <table class="usermenutable">
                            <tr>
                                <td class="usermenu50"><span><input type="submit" class="btn btn-danger full" value="POTWIERDZAM - USUŃ"/></span></td>
                                <td class="usermenu50"><span><a th:href="@{'/admin/communities/view/' + ${community.id}}" class="btn btn-success full">POWRÓT</a></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>