<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wspólnota</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/my.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <button type="button" class="btn btn-lg btn-secondary btn-block" disabled th:text="'WSPÓLNOTA : ' + ${community.name}
    + ' ADMINISTRATOR WSPÓLNOTY : ' + ${iam.name} + ' ' + ${iam.surname}"></button>
    <table class="usermenutable">
        <tr>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-warning usermenu"  th:href="@{'/'}" th:text="'MENU GŁÓWNE'"></a>
                        </span>
            </td>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-secondary usermenu"  th:href="@{'/admin/community'}" th:text="'POWRÓT-WSPÓLNOTY'"></a>
                        </span>
            </td>
            <td class="usermenu30">
                        <span>
                            <a class="btn btn-secondary usermenu"  th:href="@{'/admin/groups/' + ${community.id}}" th:text="'GRUPY TEJ WSPÓLNOTY'"></a>
                        </span>
            </td>

            <td class="usermenu20">
                        <span>
                            <a class="btn btn-info usermenu"  th:href="@{'/admin/community/member/add/' + ${community.id}}" th:text="'DODAJ NOWEGO CZŁONKA (+)'"></a>
                        </span>
            </td>
            <td class="usermenu10">
                <span>
                    <form th:action="@{/logout}" method="post" >
                        <input class="btn btn-warning usermenu" type="submit" value="WYLOGUJ"/>
                    </form>
                </span>
            </td>
        </tr>
    </table>
    <table class="usermenutable">
        <thead>
        <tr>
            <th class="usermenu50">
                <button type="button" class="btn btn-lg btn-secondary usermenu" disabled>CZŁONKOWIE</button>
            </th>
            <th class="usermenu20">
                <button type="button" class="btn btn-lg btn-secondary usermenu" disabled>NAPISZ</button>
            </th>
            <th class="usermenu10">
                <button type="button" class="btn btn-lg btn-secondary usermenu" disabled>EDYTUJ</button>
            </th>
            <th class="usermenu10">
                <button type="button" class="btn btn-lg btn-secondary usermenu" disabled>MAŁŻONEK</button>
            </th>
            <th class="usermenu10">
                <button type="button" class="btn btn-lg btn-secondary usermenu" disabled>USUŃ</button>
            </th>
        </tr>
        </thead>
        <th:block th:each="member : ${members}">
            <tr>
                <td class="usermenu50">
                    <span>
                        <a th:if="${member.married == 0}" th:href="@{'/admin/community/member/view/' + ${member.id}}" class="btn btn-secondary usermenu" style="text-align: left" th:text="${member.name} + ' ' + ${member.surname}"></a>
                        <a th:unless="${member.married == 0}" th:href="@{'/admin/community/member/view/' + ${member.id}}" class="btn btn-primary usermenu" style="text-align: left" th:text="${member.name} + ' ' + ${member.surname}"></a>
                    </span>
                </td>
                <td class="usermenu20">
                    <span>
                        <a th:if="${member.married == 0} and ${member.email != null} and ${member.email != ''}" th:href="@{'/admin/community/member/email/' + ${member.id}}" class="btn btn-secondary usermenu" style="text-align: left" th:text="${member.email}"></a>
                        <a th:if="${member.married == 0} and (${member.email == null} or ${member.email == ''})" th:href="@{'/admin/community/member/email/' + ${member.id}}" class="btn btn-secondary usermenu" style="text-align: left" th:text="'-'"></a>
                        <a th:if="${member.married != 0} and ${member.email != null} and ${member.email != ''}" th:href="@{'/admin/community/member/email/' + ${member.id}}" class="btn btn-primary usermenu" style="text-align: left" th:text="${member.email}"></a>
                        <a th:if="${member.married != 0} and (${member.email == null} or ${member.email == ''})" th:href="@{'/admin/community/member/email/' + ${member.id}}" class="btn btn-primary usermenu" style="text-align: left" th:text="'-'"></a>
                    </span>
                </td>
                <td class="usermenu10">
                    <span>
                        <a th:if="${member.married == 0}" class="btn btn-secondary usermenu" th:href="@{'/admin/community/member/edit/' + ${member.id}} ">
                            EDYTUJ
                        </a>
                        <a th:unless="${member.married == 0}" class="btn btn-primary usermenu" th:href="@{'/admin/community/member/edit/' + ${member.id}} ">
                            EDYTUJ
                        </a>
                    </span>
                </td>
                <td class="usermenu10">
                    <span>
                        <a th:if="${member.married == 0}" class="btn btn-secondary usermenu" th:href="@{'/admin/community/member/addMarriage/' + ${member.id}} ">
                            +
                        </a>
                        <a th:unless="${member.married == 0}" class="btn btn-primary usermenu" th:href="@{'/admin/community/member/addMarriage/' + ${member.id}} ">
                            -
                        </a>
                    </span>
                </td>
                <td class="usermenu10">
                    <span>
                        <a th:if="${member.married == 0}" class="btn btn-secondary usermenu" th:href="@{'/admin/community/member/view/' + ${member.id}} ">
                            SZCZEGÓŁY
                        </a>
                        <a th:unless="${member.married == 0}" class="btn btn-primary usermenu" th:href="@{'/admin/community/member/view/' + ${member.id}} ">
                            SZCZEGÓŁY
                        </a>
                    </span>
                </td>
            </tr>
        </th:block>
    </table>
    <table class="usermenutable">
        <tr>
            <td class="usermenu50">
                <span>
                    <a class="btn btn-secondary usermenu" th:href="@{'/admin/community/member/emailToAll/' + ${community.id}}" th:text="'NAPISZ DO WSZYSTKICH'"></a>
                </span>
            </td>
            <td class="usermenu50">
                <span>
                    <a class="btn btn-secondary usermenu" th:href="@{'/admin/community/member/emailToSome/' + ${community.id}}" th:text="'NAPISZ DO NIEKTÓRYCH'"></a>
                </span>
            </td>
        </tr>
    </table>
    <a class="btn btn-lg btn-secondary btn-block"  th:href="@{'/admin/community'}" th:text="'Powrót do listy wspólnot'"></a>
</div>
</body>
</html>