<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ADMIN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/my.css}" rel="stylesheet"/>
</head>
<body>
<br/><br/>
<div class="container">
    <table class="usermenutable">
        <tr>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-warning usermenu"  th:href="@{'/'}" th:text="'MENU GŁÓWNE'">
                            </a>
                        </span>
            </td>
            <td class="usermenu50">
                        <span>
                            <a class="btn btn-success usermenu"  th:href="@{'/admin/'}" th:text="'ADMINISTRATOR WSPÓLNOTY : ' + ${iam.name} + ' ' + ${iam.surname}">
                               ADMINISTRATOR WSPÓLNOTY
                            </a>
                        </span>
            </td>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-info usermenu"  th:href="@{'/user/'}">
                               CZŁONEK WSPÓLNOTY
                            </a>
                        </span>
            </td>
            <td class="usermenu10">
                <span>
                    <form th:action="@{/logout}" method="post" >
                        <input class="btn btn-danger usermenu" type="submit" value="WYLOGUJ"/>
                    </form>
                </span>
            </td>
        </tr>
    </table>
    <table class="usermenutable">
        <tr>
            <td class="usermenu50">
                <span>
                    <a class="btn btn-secondary usermenu" th:href="@{'/admin/community'}">
                        WSPÓLNOTA
                    </a>
                </span>
            </td>
            <td class="usermenu50">
                <span>
                    <a class="btn btn-secondary usermenu" th:href="@{'/'} ">
                        GRUPY
                    </a>
                </span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>