<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EMAIL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/my.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <button type="button" class="btn btn-lg btn-secondary btn-block" disabled th:text="'ADMINISTRATOR WSPÓLNOTY : ' + ${iam.name} + ' ' + ${iam.surname}"></button>
    <table class="usermenutable">
        <tr>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-warning usermenu"  th:href="@{'/'}" th:text="'MENU GŁÓWNE'"></a>
                        </span>
            </td>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-info usermenu"  th:href="@{'/admin/communities'}" th:text="'POWRÓT-KRĘGI'"></a>
                        </span>
            </td>
            <td class="usermenu30">
                        <span>
                            <a class="btn btn-info usermenu"  th:href="@{'/admin/groups'}" th:text="'GRUPY'"></a>
                        </span>
            </td>

            <td class="usermenu20">
                        <span>
                        </span>
            </td>
            <td class="usermenu10">
                <span>
                    <form th:action="@{/logout}" method="post" >
                        <input class="btn btn-warning usermenu" type="submit" value="WYLOGUJ"/>
                    </form>
                </span>
            </td>
        </tr>
    </table>
    <form th:action="@{'/admin/email/circleConsist/' + ${circle.id}}" th:object="${email}" method="post">
        <table class="usermenutable">
            <thead>
            <tr>
                <th class="usermenu90">
                    <button type="button" class="btn btn-lg btn-secondary usermenu" disabled>CZŁONKOWIE KRĘGU</button>
                </th>
                <th class="usermenu10">
                    <button type="button" class="btn btn-lg btn-secondary usermenu" disabled>DO KOGO MAIL</button>
                </th>
            </tr>
            </thead>
            <th:block th:each="member : ${circle.members}">
                <tr>
                    <td class="usermenu50">
                            <span class="btn btn-secondary usermenu disabled" style="text-align: left" th:text="${member.name} + ' ' + ${member.surname} + ' | ( '
                                + ${member.email} + ' ) |'" >
                            </span>
                    </td>
                    <td class="usermenu10">
                            <span class="btn btn-secondary usermenu">
                                <input type="checkbox" name="mailIds" th:value="${member.id}" th:checked="${member.doSomeAction}"/>
                            </span>
                    </td>
                </tr>
            </th:block>
        </table>
        <table th:if="${events}" class="usermenutable">
            <th:block th:each="event : ${events}">
                <tr th:if="${event.circleId == circle.id}">
                    <td class="usermenu20" >
                        <span class="btn btn-secondary usermenu disabled" style="text-align: left" th:text="${event.name}"></span>
                    </td>
                    <td class="usermenu20" >
                        <span class="btn btn-secondary usermenu disabled" style="text-align: center" th:text="${event.date}"></span>
                    </td>
                    <td class="usermenu60" >
                        <span class="btn btn-secondary usermenu disabled" style="text-align: left" th:text="${event.description}"></span>
                    </td>
                </tr>
            </th:block>
        </table>
        <table class="usermenutable">
            <tr>
                <td class="usermenu100">
                    <div class="btn btn-secondary usermenu" style="text-align: center">WPISZ TEKST WIADOMOŚCI</div>
                </td>
            </tr>
            <tr>
                <td class="usermenu100">
                    <textarea style="text-align: left" rows="4" class ="full" name="emailText"/>
                    </textarea>
                </td>
            </tr>
            <tr><td></td></tr>
        </table>
        <table class="usermenutable">
            <tr>
                <td class="usermenu50">
                    <div style="text-align: center" th:text="'Zaznacz kopia maila na twój adres : ' + ${iam.username}"></div>
                </td>
                <td class="usermenu90">
                    <input type="checkbox" th:name="selfSend"  checked = "checked"/>
                </td>
            </tr>
            <tr>
                <td class="usermenu50"><span><input type="submit" class="btn btn-success full" value="WYŚLIJ"/></span></td>
                <td class="usermenu50"><span><a th:href="@{'/'}" class="btn btn-info full">POWRÓT</a></span></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>