<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EMAIL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/my.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <button type="button" class="btn btn-lg btn-secondary btn-block" disabled th:text="'WSPÓLNOTA : ' + ${community.name}
    + ' ADMINISTRATOR WSPÓLNOTY : ' + ${iam.name} + ' ' + ${iam.surname}"></button>
    <table class="usermenutable">
        <tr>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-warning usermenu"  th:href="@{'/'}" th:text="'MENU GŁÓWNE'"></a>
                        </span>
            </td>
            <td class="usermenu20">
                        <span>
                            <a class="btn btn-info usermenu"  th:href="@{'/admin/communities'}" th:text="'POWRÓT-WSPÓLNOTY'"></a>
                        </span>
            </td>
            <td class="usermenu30">
                        <span>
                            <a class="btn btn-info usermenu"  th:href="@{'/admin/groups'}" th:text="'GRUPY'"></a>
                        </span>
            </td>

            <td class="usermenu20">
                        <span>
                            <a class="btn btn-info usermenu"  th:href="@{'/admin/community/member/add/' + ${community.id}}" th:text="'DODAJ NOWEGO CZŁONKA (+)'"></a>
                        </span>
            </td>
            <td class="usermenu10">
                <span>
                    <form th:action="@{/logout}" method="post" >
                        <input class="btn btn-warning usermenu" type="submit" value="WYLOGUJ"/>
                    </form>
                </span>
            </td>
        </tr>
    </table>
    <form th:action="@{'/admin/community/member/emailToSome/' + ${community.id}}" method="post">
        <table class="usermenutable">
            <thead>
            <tr>
                <th class="usermenu90">
                    <button type="button" class="btn btn-lg btn-secondary usermenu" disabled>CZŁONKOWIE WSPÓLNOTY</button>
                </th>
                <th class="usermenu10">
                    <button type="button" class="btn btn-lg btn-secondary usermenu" disabled>DO KOGO MAIL</button>
                </th>
            </tr>
            </thead>
                <th:block th:each="member : ${members}">
                    <tr>
                        <td class="usermenu50">
                            <span class="btn btn-secondary usermenu disabled" style="text-align: left" th:text="${member.name} + ' ' + ${member.surname}" >
                            </span>
                        </td>
                        <td class="usermenu10">
                            <span class="btn btn-secondary usermenu">
                                <input type="checkbox" name="mailIds" th:value="${member.id}" th:checked="${member.doSomeAction}"/>
                            </span>
                        </td>
                    </tr>
                </th:block>
        </table>
        <table class="usermenutable">
            <tr>
                <td class="usermenu100">
                    <div class="btn btn-secondary usermenu" style="text-align: center">WPISZ TEMAT WIADOMOŚCI</div>
                </td>
            <tr>
                <td class="usermenu100">
                    <input class ="full" name="emailHead" type="text"/>
                </td>
            </tr>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td class="usermenu100">
                    <div class="btn btn-secondary usermenu" style="text-align: center">WPISZ TEKST WIADOMOŚCI</div>
                </td>
            </tr>
            <tr>
                <td class="usermenu100">
                    <textarea style="text-align: left" rows="4" class ="full" name="emailText"/>
                    </textarea>
                </td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td class="usermenu100"><input class="btn btn-success usermenu" type="submit" value="WYŚLIJ"/></td>
            </tr>
        </table>
    </form>

    <table class="usermenutable">
        <tr>
            <td class="usermenu50">
                <span>
                    <a class="btn btn-secondary usermenu" th:href="@{'/admin/community/member/emailToAll/' + ${community.id}}" th:text="'NAPISZ DO WSZYSTKICH'"></a>
                </span>
            </td>
            <td class="usermenu50">
                <span>
                    <a class="btn btn-secondary usermenu" th:href="@{'/admin/community/member/emailToSome/' +  ${community.id}}" th:text="'NAPISZ DO NIEKTÓRYCH'"></a>
                </span>
            </td>
        </tr>
    </table>
    <a class="btn btn-lg btn-secondary btn-block"  th:href="@{'/admin/community/view/' + ${community.id}}" th:text="'Powrót do wspólnoty'"></a>
</div>
</body>
</html>